html {
	margin: 0px;
}

body {
	margin: 5px;
}

html, body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
	width: 100%;
	height: 100%;
}

table {
    border-collapse: collapse;
}

table.data {
	border: 1px solid black;
}

table.data td, th {
	border: 1px solid black;
}

tr.odd {
    background: #F7FBFF;
}

tr.even {
    background: #E8EBEE;
}

tr.trigger {
	background: #E2EAEE;
}

tr.last {
	background: #D7DADD;
}

td {
    border: 0px;
    padding: 3px;
}

td.data, th.data {
	border: 1px solid black;
}

#page-wrapper {
	width:100%;
	height:100%;
}

#left {
	display: table-cell;
	float:left;	
	width: 50%;
	height:100%;
	padding:10px;
	min-height:100%;
}

#right {
	display: table-cell;
	margin: auto;
	padding: 10px;
	min-height:100%;
	width:auto;
}

.standard {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
	background-color:#7892c2;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	padding:4px 4px;
	text-decoration:none;
	margin:3px;
}

.standard:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
}

.standard:active {
	position:relative;
	top:1px;
}