th, td {
	padding: 5px;
	text-align:left;
}

a, a:visited {
	text-decoration: none;
	color: black;
}

.code {
	font-family: monospace, monospace;
	font-size: 1em;
}

.param {
	font-weight: bold;
}

.rounded {
	border-radius: 5px;
}

#page-wrapper {
	width:100%;
	height:100%;
}

#menu {
	background-color: #B4C2DA;
	float:left;
	width: 20%;
	height:100%;
	padding:10px;
	min-height:100%;
}

#content {
	background-color: #E8EDF7;
	margin: auto;
	padding: 10px;
	min-height:100%;
}